<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Permisos -->

    <!-- Permiso biométrico (opcional ≥ API 29, requerido ≤ 28) -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Secciones de queries para listar launchers -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.HOME" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".ControlParentalApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControlParental"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu" >
        <!-- Actividad-diálogo -->
        <activity
            android:name=".UI.activities.AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.ControlParental.AuthDialog"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"/>
        <!-- Actividad principal -->
        <activity
            android:name=".UI.activities.ContainerActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.activities.DesarolloActivity"
            android:exported="true" /> <!-- Servicio de Accesibilidad -->
        <service
            android:name=".services.AppBlockerService"
            android:directBootAware="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service> <!-- Receiver para BOOT_COMPLETED -->
        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>